<app-clean-blog-masthead [title]="title" [imgUrl]="imgUrl"></app-clean-blog-masthead>
<table mat-table [dataSource]="dataSource" style="width:100%;" matSort>
<!-- name Column -->
<ng-container matColumnDef="name">
  <th mat-header-cell *matHeaderCellDef> 
  <span mat-sort-header arrowPosition="before" style="float:left;">
	name
	<button mat-button class="btn-toggle" [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
		<mat-icon>keyboard_arrow_down</mat-icon>
	</button>
  </span>
	<mat-menu #menu>
	  <div mat-menu-item mat-filter-item [disableRipple]="true">
		<mat-form-field>
		  <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions' [(value)]="searchCondition.name">
			<mat-option *ngFor="let  condition of conditionsList" [value]="condition.value">{{condition.label}}</mat-option>
		  </mat-select>
		</mat-form-field>
	  </div>
	  <div mat-menu-item mat-filter-item [disableRipple]="true">
		<mat-form-field>
		  <input matInput placeholder="Value" [(ngModel)]="searchValue.name">
		</mat-form-field>
	  </div>
	  <div mat-menu-item mat-filter-item [disableRipple]="true">
		<button mat-raised-button (click)="clearColumn('name')" style="width:50%">Clear</button>
		<button mat-raised-button color="primary" (click)="applyFilter()" style="width:50%">Search</button>
	  </div>
	  <div mat-menu-item mat-filter-item [disableRipple]="true">
	  <button mat-raised-button (click)="clearFilters()" style="width:100%">Clear All</button>
	  </div>
	</mat-menu>
  </th> 
  <td mat-cell *matCellDef="let data" data-label="name">  {{data.name}} </td>
</ng-container>

<!-- number Column -->
<ng-container matColumnDef="number">
  <th mat-header-cell *matHeaderCellDef> 
  <span mat-sort-header arrowPosition="before" style="float:left;">
	number
	<button mat-button class="btn-toggle" [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
		<mat-icon>keyboard_arrow_down</mat-icon>
	</button>
  </span>
	<mat-menu #menu>
	  <div mat-menu-item mat-filter-item [disableRipple]="true">
		<mat-form-field>
		  <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions' [(value)]="searchCondition.number">
			<mat-option *ngFor="let  condition of conditionsList" [value]="condition.value">{{condition.label}}</mat-option>
		  </mat-select>
		</mat-form-field>
	  </div>
	  <div mat-menu-item mat-filter-item [disableRipple]="true">
		<mat-form-field>
		  <input matInput placeholder="Value" [(ngModel)]="searchValue.number">
		</mat-form-field>
	  </div>
	  <div mat-menu-item mat-filter-item [disableRipple]="true">
		<button mat-raised-button (click)="clearColumn('number')" style="width:50%">Clear</button>
		<button mat-raised-button color="primary" (click)="applyFilter()" style="width:50%">Search</button>
	  </div>
	  <div mat-menu-item mat-filter-item [disableRipple]="true">
	  <button mat-raised-button (click)="clearFilters()" style="width:100%">Clear All</button>
	  </div>
	</mat-menu>
  </th>
  <td mat-cell *matCellDef="let data" data-label="number">  {{data.number}} </td>
</ng-container>

<!-- actions -->
<ng-container matColumnDef="actions">
  <th mat-header-cell *matHeaderCellDef>
  <span arrowPosition="">Action
	<!--<button mat-icon-button color="primary" (click)="addNew()">-->
	<button mat-icon-button color="primary" [routerLink]="[ {outlets: { modal: 'post' }}]" >
	  <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
	</button></span>
  </th>

  <td mat-cell *matCellDef="let row; let i=index;" data-label="action">
	<!--<button mat-icon-button color="accent" (click)="startEdit(i, row.name, row.number)">-->
	<button mat-icon-button color="accent" [routerLink]="[ {outlets: { modal: 'edit/'+row.id }}]">
	  <mat-icon aria-label="Edit">edit</mat-icon>
	</button>

	<!--<button mat-icon-button color="accent" (click)="deleteItem(i, row.name, row.number)">-->
	<button mat-icon-button color="accent" [routerLink]="[ {outlets: { modal: 'delete/'+row.id }}]">
	  <mat-icon aria-label="Delete">delete</mat-icon>
	</button>
  </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

<router-outlet name="modal"></router-outlet>

