<app-page-header [title]="'EZ Blogs'" [subheading]="'A Public Blog by Erik Z'"></app-page-header>
<div class="container">
<h1 class="alert alert-danger">Error : {{message}}</h1>

<a class="btn btn-primary" [routerLink]="['/signup']" *ngIf="expired=='false'">Please signup here.</a>

<a class="btn btn-primary" (click)="onClick()" *ngIf="expired=='true'">Resend my token.</a>

<p [class]="notification.msgType" *ngIf="notification.msgBody!==undefined" [innerHTML]="notification.msgBody | keepHtml"></p>
  
<mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
</div>