<app-page-header [title]="'EZ Blogs'" [subheading]="'A Public Blog by Erik Z'"></app-page-header>
<div class="content" fxLayout="row" fxLayoutAlign="center">

  <mat-card elevation="5" fxFlex>

    <mat-card-subtitle>
      <h2>EZ Blogs</h2>
    </mat-card-subtitle>

    <mat-card-title>
      <h2>{{ title }}</h2>
    </mat-card-title>

    <mat-card-content>

      <p [class]="notification.msgType" *ngIf="notification.msgBody!==undefined" [innerHTML]="notification.msgBody | keepHtml"></p>

      <form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()" #signupForm="ngForm">
        <mat-input-container>
          <input matInput formControlName="username" placeholder="Username" required >
        </mat-input-container>
        <mat-input-container>
          <input matInput formControlName="email" placeholder="Email" required type="email" (input)="onInputChange($event)">
        </mat-input-container>
		        <mat-input-container>
          <input matInput formControlName="password" placeholder="Password" required type="password" (input)="onInputChange($event)">
        </mat-input-container>
		        <mat-input-container>
          <input matInput formControlName="matchingPassword" placeholder="Please re-type your Password" required type="password" (input)="onInputChange($event)">
        </mat-input-container>
        <mat-input-container>
          <input matInput formControlName="firstname" placeholder="First Name" required>
        </mat-input-container>
        <mat-input-container>
          <input matInput formControlName="lastname" placeholder="Last Name" required>
        </mat-input-container>
        <button type="submit" [disabled]="!signupForm.form.valid || signupForm.value.password !== signupForm.value.matchingPassword" mat-raised-button color="primary">Sign up</button>
      </form>
      <br>

      <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
      <br>
      <hr>

      <p>
        <i>Created by
          <a href="http://www.erikzeng.com">Erik Zeng</a>
        </i>
      </p>
      <p>
        <i>Click below to go to repository</i>
      </p>
      <button (click)="repository()" mat-raised-button color="accent">GitHub Repository</button>

    </mat-card-content>

  </mat-card>

</div>