<app-page-header [title]="'EZ Blogs'" [subheading]="'A Public Blog by Erik Z'"></app-page-header>
<div class="content" fxLayout="row" fxLayoutAlign="center">
    <mat-card elevation="5" fxFlex>

      <mat-card-subtitle>
        <h2>EZ Blogs</h2>
      </mat-card-subtitle>

      <mat-card-title>
        <h2>{{title}}</h2>
      </mat-card-title>


    <mat-card-content>

      <p [class]="notification.msgType" *ngIf="notification.msgBody!==undefined" [innerHTML]="notification.msgBody | keepHtml"></p>
        <form *ngIf="!submitted && !id && !token" [formGroup]="form" (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
          <mat-input-container>
            <input matInput formControlName="email" required placeholder="Enter your email" >
          </mat-input-container>
		  <button type="submit" [disabled]="!forgotPasswordForm.form.valid" mat-raised-button color="primary">Reset</button>
        </form>
		
		<form *ngIf="!submitted && id && token" [formGroup]="form2" (ngSubmit)="onSubmit2()" #resetPasswordForm="ngForm">
		  <mat-input-container>
            <input matInput formControlName="password" required type="password" placeholder="New password" (input)="onInputChange($event)">
          </mat-input-container>
          <mat-input-container>
            <input matInput formControlName="matchingPassword" required type="password" placeholder="Please re-type your password" (input)="onInputChange($event)">
          </mat-input-container>
		<button type="submit" [disabled]="!resetPasswordForm.form.valid || resetPasswordForm.value.password !== resetPasswordForm.value.matchingPassword" mat-raised-button color="primary">Change Password</button>
        </form>
	  <br>

      <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
      <br>
      <hr>

      <p>
        <i>Created by
          <a href="http://www.erikzeng.com">Erik Zeng</a>
        </i>
      </p>
      <p>
        <i>Click below to go to repository</i>
      </p>
      <button (click)="repository()" mat-raised-button color="accent">GitHub Repository</button>

    </mat-card-content>

	</mat-card>
</div>
