<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="lnav.toggle()"><mat-icon>chat</mat-icon></button>
	<h1 class="example-app-name">Based Chat</h1>
  <span class="example-spacer"></span>
  
  <span flex></span>

  <button mat-button [matMenuTriggerFor]="notificationMenu">
  
  <mat-icon style="font-size: 25px"  *ngIf="notifications.length==0">notifications</mat-icon>
  <mat-icon style="font-size: 25px"  [matBadge]="notifications.length" matBadgeColor="warn" *ngIf="notifications.length!=0">notifications</mat-icon>
  <mat-icon style="font-size: 25px">expand_more</mat-icon>
  
  </button>
  
  <button mat-button [matMenuTriggerFor]="appMenu">
  {{userName()}}
  <mat-icon style="font-size: 25px">person</mat-icon>
  <mat-icon style="font-size: 25px">expand_more</mat-icon>
  </button>

  <mat-menu #appMenu="matMenu">
  <button mat-menu-item [routerLink]="['/admin']" *ngIf="adminGuard.canLoad()">Admin Page</button>
  <button mat-menu-item [routerLink]="['/change-password']">Change Password</button>
  <button mat-menu-item (click)="logout()"> Logout</button>
  </mat-menu>
  
  <mat-menu #notificationMenu="matMenu">
	<mat-list *ngIf="notifications.length>0" (click) = "$event.stopPropagation()">
		<mat-list-item *ngFor="let notification of notifications">{{notification.message}}</mat-list-item>
		<mat-list-item><button mat-menu-item (click)="notifications.length=0">Clear</button> </mat-list-item>
	</mat-list>
  </mat-menu>
  
</mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    
    <mat-sidenav #lnav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
				 class="leftSidenav" [opened]="true">
      <!--<button mat-button style="width:100%;" title="New chat" [routerLink]="[ {outlets: { modal: 'new' }}]"> -->
	  <button mat-button style="width:100%;" title="New chat" routerLink="new">
      <mat-icon>add_comment</mat-icon>
      <span class="d-none d-lg-block">New Chat </span>
      </button>
      <mat-nav-list class="messages">
        <mat-list-item routerLink="." *ngFor="let chatRoom of chatRooms; let i = index" (click)="clickChat(i)">
        <img mat-list-avatar [src] class="d-none">
        <span class="ellipsisContent">
        {{chatRoom.name}}
        </span>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
	<div class="chat-container">
	<!--<button mat-fab (click)="onClickUserInfo()">-->
	<div class="matFabGroup">
	  <button mat-fab (click)="rnav.toggle()" title="Chat Info" *ngIf="show()">
		<mat-icon>info</mat-icon>
	  </button>
	</div>
	
	<mat-card class="main-card">
	<app-chat-messages [data]="chatRooms[currentChatIndex]['chatMessages']" *ngIf="show('chatMessages')" ></app-chat-messages>
    <div class="chat-footer-container">
      <mat-icon>message</mat-icon>
      <mat-form-field class="chat-input">
        <input matInput 
               #inputMessage 
               placeholder="Type your message" 
               (keyup.enter)="sendMessage(inputMessage.value);inputMessage.value=''">              
		<!--maxlength="140" -->
        <!--<mat-hint align="end">{{inputMessage.value.length}}/140</mat-hint>-->
      </mat-form-field>
    </div>
    
	</mat-card>
	</div>
	
    </mat-sidenav-content>

    <mat-sidenav #rnav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
                 position="end" 
				 class="rightSidenav"
				 *ngIf="show()">
				 
	<mat-toolbar>
	<span class="ellipsisContent" title="{{chatRooms[currentChatIndex]['name']}}"> {{chatRooms[currentChatIndex]['name']}} </span>
	<span class="example-spacer"></span>
	<span flex></span>
	
	<div>
	<button mat-button [matMenuTriggerFor]="chatMenu">
	<mat-icon>more_vert</mat-icon>
	</button>

	<mat-menu #chatMenu="matMenu">
	<button mat-menu-item (click)="leave()" title="Leave"><mat-icon>exit_to_app</mat-icon>Leave</button>
	<button mat-menu-item (click)="edit()" title="Edit"> <mat-icon>edit</mat-icon>Edit</button>
	<button mat-menu-item (click)="delete()" title="Delete" *ngIf="chatRooms[currentChatIndex]['createdBy']==userName()"><mat-icon>delete</mat-icon>Delete</button>
  	</mat-menu>
	
	<button mat-button (click)="rnav.close()" title="Close"><mat-icon>close</mat-icon></button>
	</div>
	</mat-toolbar>
		
	<mat-card>
		Tags:&nbsp;
		<div fxFlex>
			<mat-chip-list>
			  <mat-chip *ngFor="let chatTag of chatRooms[currentChatIndex]['chatTags']">{{chatTag}}</mat-chip>
			</mat-chip-list>
		</div>
	</mat-card>
	  <mat-tab-group mat-stretch-tabs>
	  <mat-tab>
		<ng-template mat-tab-label >
		
		<span  class="d-none d-md-block">Members</span>
		<mat-icon title="Chat Members">group</mat-icon>
		
		</ng-template>
		<mat-nav-list  *ngIf="show('members')">
			<mat-list-item routerLink="." *ngFor="let member of chatRooms[currentChatIndex]['members']">
			<img mat-list-avatar [src] class="d-none">
			<span class="ellipsisContent">
			{{member}} 
			</span>
			
			<span class="example-spacer"></span>
			<span flex></span>

			<button mat-button title="Block" (click)="block(member)" *ngIf="userName() == chatRooms[currentChatIndex]['createdBy'] && userName() != member">
				<mat-icon>block</mat-icon>
			</button>
			
			</mat-list-item>
		</mat-nav-list> 
	  </mat-tab>
	  
	  <mat-tab *ngIf="show('pendingUsers')">
		<ng-template mat-tab-label>
		
		<span  class="d-none d-md-block">Pending Users</span>
		<mat-icon title="Pending Users">reply</mat-icon>
		
		</ng-template>
		<mat-nav-list>
			<mat-list-item routerLink="." *ngFor="let pendingUser of chatRooms[currentChatIndex]['pendingUsers']">
			<img mat-list-avatar [src] class="d-none">
			<span class="ellipsisContent">
			{{pendingUser}}
			</span>
			
			<span class="example-spacer"></span>
			<span flex></span>
	
			<button mat-button title="Accept" (click)="accept(pendingUser)">
				<mat-icon>person_add</mat-icon>
			</button>
			<button mat-button title="Block" (click)="block(pendingUser)">
				<mat-icon>block</mat-icon>
			</button>
			
			</mat-list-item>
		</mat-nav-list> 
	  </mat-tab>
	  
	  <mat-tab *ngIf="show('blockedUsers')">
		<ng-template mat-tab-label>
		
		<span  class="d-none d-md-block">Blocked Users</span>
		<mat-icon title="Blocked Users">block</mat-icon>
		
		</ng-template>
		<mat-nav-list>
			<mat-list-item routerLink="." *ngFor="let blockedUser of chatRooms[currentChatIndex]['blockedUsers']">
			<img mat-list-avatar [src] class="d-none">
			<span class="ellipsisContent">
			{{blockedUser}}
			</span>
			
			<span class="example-spacer"></span>
			<span flex></span>
			
			<button mat-button title="Unblock" (click)="unblock(blockedUser)">
				<mat-icon>person_add</mat-icon>
			</button>
			
			</mat-list-item>
		</mat-nav-list> 
	  </mat-tab>
	  
	  </mat-tab-group>
    </mat-sidenav>

  </mat-sidenav-container>
</div>

<router-outlet name=""></router-outlet>