<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="lnav.toggle()"><mat-icon>chat</mat-icon></button>
	<h1 class="example-app-name">Based Chat</h1>
  <span class="example-spacer"></span>
	<span flex></span>

  <button mat-button [matMenuTriggerFor]="appMenu">
  {{userName()}}
  <mat-icon style="font-size: 25px">person</mat-icon>
  <mat-icon style="font-size: 25px">expand_more</mat-icon>
  </button>

  <mat-menu #appMenu="matMenu">
  <button mat-menu-item [routerLink]="['/admin']" *ngIf="adminGuard.canLoad()">Admin Page</button>
  <button mat-menu-item [routerLink]="['/change-password']">Change Password</button>
  <button mat-menu-item (click)="logout()"> Logout</button>
  </mat-menu>
  
</mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    
    <mat-sidenav #lnav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <!--<button mat-button style="width:100%;" title="New chat" [routerLink]="[ {outlets: { modal: 'new' }}]"> -->
	  <button mat-button style="width:100%;" title="New chat" routerLink="new">
      <mat-icon>add_comment</mat-icon>
      <span class="d-none d-lg-block">New Chat </span>
      </button>
      <mat-nav-list class="messages">
        <mat-list-item routerLink="." *ngFor="let chatRoom of chatRooms; let i = index" (click)="clickChat(i)">
        <img mat-list-avatar [src] class="d-none">
        <span class="sideNavContent">
        {{chatRoom.name}}
        </span>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
  <div class="chat-container">
  <!--<button mat-fab (click)="onClickUserInfo()">-->
    <div class="matFabGroup">
  <button mat-fab (click)="rnav.toggle()" title="Chat Info">
    <mat-icon>info</mat-icon>
  </button>
</div>
  <mat-card class="main-card">
  
	<app-chat-messages [data]="chatRooms[currentChatIndex]['chatMessages']" ></app-chat-messages>

	<!--
    <mat-list class="chat-list">   
	  <mat-list-item *ngFor="let message of messages" [ngClass]="[(message.action === undefined && message.from.id === user.id)? 'chat-list-item': '']">
        <img mat-list-avatar *ngIf="message.action === undefined" [src]="message.from.avatar">
        <h4 mat-line *ngIf="message.action === undefined">
          <b>{{message.from.name}}</b>
        </h4>
        <p mat-line *ngIf="message.action === undefined">
          <span> {{message.content}} </span>
        </p>
        <p mat-line *ngIf="message.action === action.JOINED" class="chat-notification">
          <span> <b>{{message.from.name}}</b> joined to the conversation. </span>
        </p>
        <p mat-line *ngIf="message.action === action.RENAME" class="chat-notification">
          <span> <b>{{message.content.previousUsername}}</b> is now <b>{{message.content.username}}</b> </span>
        </p>
	</mat-list-item>
	  
	<mat-list-item *ngFor="let chatMessage of chatRooms[currentChatIndex]['chatMessages']">
		<!--<img mat-list-avatar>
		<h4 mat-line >
		  <b>{{chatMessage.username}}</b>
		</h4>
		<p mat-line>
		  <span>{{chatMessage.message}}</span>
		</p>
		</mat-list-item>
    </mat-list>-->

	<!--
	<div #scrollMe class="chat-list">
    <mat-list-item *ngFor="let chatMessage of chatRooms[currentChatIndex]['chatMessages']">  
		<h4 mat-line >
		  <b>{{chatMessage.username}}</b>
		</h4>
		<p mat-line>
		  <span>{{chatMessage.message}}</span>
		</p>
    </mat-list-item>
	</div>
	-->
	
    <div class="chat-footer-container">
      <mat-icon>message</mat-icon>
      <mat-form-field class="chat-input">
        <input matInput 
               #inputMessage 
               maxlength="140" 
               placeholder="Type your message" 
               [(ngModel)]="messageContent" 
               (keyup.enter)="sendMessage(messageContent)">
        <mat-hint align="end">{{inputMessage.value.length}}/140</mat-hint>
      </mat-form-field>
    </div>
    
  </mat-card>
</div>
    </mat-sidenav-content>

    <mat-sidenav #rnav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
                 position="end"
                 >
                  <mat-tab-group>
                  <mat-tab>
                    <ng-template mat-tab-label>
                    <span  class="d-none d-lg-block">Members</span>
                    <mat-icon title="Chat Members">group</mat-icon>
                    </ng-template>
                    <mat-nav-list>
                        <mat-list-item routerLink="." *ngFor="let nav of fillerNav">
                        <img mat-list-avatar [src] class="d-none">
                        <span class="sideNavContent">
                        {{nav}}
                        </span>
                        </mat-list-item>
                    </mat-nav-list> 
                  </mat-tab>
                  <mat-tab>
                    <ng-template mat-tab-label>
                    <span  class="d-none d-lg-block">Requests</span>
                    <mat-icon title="Chat Requests">email</mat-icon>
                    </ng-template>
                    <mat-nav-list>
                        <mat-list-item routerLink="." *ngFor="let nav of fillerNav">
                        <img mat-list-avatar [src] class="d-none">
                        <span class="sideNavContent">
                        {{nav}}
                        </span>
                        </mat-list-item>
                    </mat-nav-list> 
                  </mat-tab>
                  </mat-tab-group>
    </mat-sidenav>

  </mat-sidenav-container>
</div>

<router-outlet name=""></router-outlet>