<header class="masthead" id="page-top">
<div class="container h-100">
  <div class="row h-100">
	<div class="col-lg-7 my-auto">
	  <div class="header-content mx-auto">
		<h1 class="mb-5">SyncPub is an application that beautifully synchronizes your web experience!</h1>
		<a href="#features" class="btn btn-outline btn-xl js-scroll-trigger">Learn more!</a>
	  </div>
	</div>
	<div class="col-lg-5 my-auto bg-light text-dark shadow-lg">
	
	<div class="container mt-3" style="margin-bottom:1rem!important;">
		<!--
		<mat-tab-group dynamicHeight mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" [selectedIndex]="activeLinkIndex">
			<mat-tab label = "login" > <app-login ></app-login></mat-tab>
			<mat-tab label = "signup" ><app-signup></app-signup></mat-tab>
		</mat-tab-group>
		-->
		
		<nav mat-tab-nav-bar  dynamicHeight mat-stretch-tabs class="mat-tab-group-inverted-header">
			<!--<a mat-tab-link
			 *ngFor="let link of navLinks"
			 [routerLink]="link.path"
			 routerLinkActive #rla="routerLinkActive"
			 [active]="rla.isActive">
			{{link.label}}
			</a>-->
			
			<a mat-tab-link
			 *ngFor="let link of navLinks"
			 [routerLink]="link.path"
			 routerLinkActive #rla="routerLinkActive"
			 [active]="rla.isActive || isHome()">
			{{link.label}}
			</a>
			
		</nav>
		<router-outlet></router-outlet>

	</div>
			
	<!--
	  <div class="device-container">
		<div class="device-mockup iphone6_plus portrait white">
		  <div class="device">
			<div class="screen">
			   Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! 
			  <img src="assets/startbootstrap-new-age-gh-pages/img/demo-screen-1.jpg" class="img-fluid" alt="">
			</div>
			<div class="button">
			  <!-- You can hook the "home button" to some JavaScript events or just remove it
			</div>
		  </div>
		</div>
	  </div>-->
	  
	  
	</div>
  </div>
</div>
</header>

<!--
<section class="download bg-primary text-center" id="download">
<div class="container">
  <div class="row">
	<div class="col-md-8 mx-auto">
	  <h2 class="section-heading">Discover what all the buzz is about!</h2>
	  <p>Our app is available on any mobile device! Download now to get started!</p>
	  <div class="badges">
		<a class="badge-link" href="#"><img src="assets/startbootstrap-new-age-gh-pages/img/google-play-badge.svg" alt=""></a>
		<a class="badge-link" href="#"><img src="assets/startbootstrap-new-age-gh-pages/img/app-store-badge.svg" alt=""></a>
	  </div>
	</div>
  </div>
</div>
</section>-->

<section class="features" id="features">
<div class="container">
  <div class="section-heading text-center">
	<h2>Unlimited Features, Unlimited Fun</h2>
	<p class="text-muted">Check out what you can do with this app!</p>
	<hr>
  </div>
  <div class="row">
	<div class="col-lg-4 my-auto">
	  <!--
	  <div class="device-container">
		<div class="device-mockup iphone6_plus portrait white">
		  <div class="device">
			<div class="screen">
			   Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! 
			  <img src="assets/startbootstrap-new-age-gh-pages/img/demo-screen-1.jpg" class="img-fluid" alt="">
			</div>
			<div class="button">
			  <!-- You can hook the "home button" to some JavaScript events or just remove it
			</div>
		  </div>
		</div> 
	  </div>-->
	</div>
	  <div class="col-lg-8 my-auto">
		<div class="container-fluid">
		  <div class="row">
			<div class="col-lg-6">
			  <div class="feature-item">
			  <i class="fas fa-assistive-listening-systems"></i> 
				<h3>Track online movements</h3>
				<p class="text-muted">Keep track of states changes made on websites</p>
			  </div>
			</div>
			<div class="col-lg-6">
			  <div class="feature-item">
				<i class="fas fa-calendar-alt"></i>
				<h3>Schedule web activities</h3>
				<p class="text-muted">Schedule online activities based on conditions</p>
			  </div>
			</div>
		  </div>
		  
		  <div class="row">
			<div class="col-lg-6">
			  <div class="feature-item">
				<i class="fas fa-envelope"></i>
				<h3>Email notification</h3>
				<p class="text-muted">Be notified on websites' states changes </p>
			  </div>
			</div>
			<div class="col-lg-6">
			  <div class="feature-item">
				<i class="fas fa-shoe-prints"></i>
				<h3>Hide your digital footprints</h3>
				<p class="text-muted">Manage your proxies and accounts profile</p>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
  </div>
</div>
</section>

<section class="pricing py-5" id="pricing">
    <div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Pricing</h1>
      <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It's built with default Bootstrap components and utilities with little customization.</p>
    </div>
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Free</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 users included</li>
              <li>2 GB of storage</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
            <!--<button type="button" class="btn btn-lg btn-block btn-outline-primary">Free Signup</button>-->
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Premium</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 users included</li>
              <li>10 GB of storage</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
            <!--<button type="button" class="btn btn-lg btn-block btn-primary">Signup</button>-->
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Enterprise</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 users included</li>
              <li>15 GB of storage</li>
              <li>Phone and email support</li>
              <li>Help center access</li>
            </ul>
            <!--<button type="button" class="btn btn-lg btn-block btn-primary">Get it</button>-->
          </div>
        </div>
      </div>
	</div>
</section>

<section class="cta">
<div class="cta-content">
  <div class="container">
	<h2>Stop waiting.<br>Start exploring.</h2>
	<a href="#page-top" class="btn btn-outline btn-xl js-scroll-trigger">Let's Get Started!</a>
  </div>
</div>
<div class="overlay"></div>
</section>

<section class="contact bg-primary" id="contact">
<div class="container">
  <h2>We
	<i class="fas fa-heart"></i>
	new friends!</h2>
  <ul class="list-inline list-social">
	<li class="list-inline-item social-twitter">
	  <a href="#">
		<i class="fab fa-twitter"></i>
	  </a>
	</li>
	<li class="list-inline-item social-facebook">
	  <a href="#">
		<i class="fab fa-facebook-f"></i>
	  </a>
	</li>
	<li class="list-inline-item social-google-plus">
	  <a href="#">
		<i class="fab fa-google-plus-g"></i>
	  </a>
	</li>
  </ul>
</div>
</section>