<div class="content" fxLayout="row" fxLayoutAlign="center">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> 
	  <span mat-sort-header arrowPosition="before">No.</span>
		<button mat-button class="btn-toggle" [matMenuTriggerFor]="menu">
			<mat-icon>keyboard_arrow_down</mat-icon>
		</button>
		<mat-menu #menu>
          <div mat-menu-item mat-filter-item [disableRipple]="true">
            <mat-form-field>
              <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions' [(value)]="searchCondition.position">
                <mat-option *ngFor="let  condition of conditionsList" [value]="condition.value">{{condition.label}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]="true">
            <mat-form-field>
              <input matInput placeholder="Value" [(ngModel)]="searchValue.position">
            </mat-form-field>
          </div>

          <div mat-menu-item mat-filter-item [disableRipple]="true">
            <button mat-raised-button (click)="clearColumn('position')">Clear</button>
            <button mat-raised-button color="primary" (click)="applyFilter()">Search</button>
          </div>
        </mat-menu>
	  </mat-header-cell>
		  
      <mat-cell *matCellDef="let element" data-label="id">  {{element.position}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>