<app-page-header [title]="'EZ Blogs'" [subheading]="'A Public Blog by Erik Z'"></app-page-header>
<!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
		
		<app-post-preview *ngFor="let postPreview of postPreviews"
		[postPreview]="postPreview">
		</app-post-preview>
          <!-- Pager -->
		  <!--
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>-->
        </div>
      </div>
    </div>

    <hr>
