<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" routerLink="/">
			<img alt="Angular-Spring-Starter" class="app-angular-logo" src="assets/image/angular-white-transparent.svg">
			<span>EZ Blogs</span>
		</a>
		
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
		
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" *ngIf="!hasSignedIn()" routerLink="/signup">
				<span>Sign up</span>
			  </a>
            </li>
			
            <li class="nav-item">
              <a class="nav-link" *ngIf="!hasSignedIn()" routerLink="/login">
			  <span>Login</span>
			  </a>
            </li>
			
            <li class="nav-item">
              <a class="nav-link greeting-button" href="javascript:void(0)" *ngIf="hasSignedIn()" [matMenuTriggerFor]="accountMenu">
				<span>Greetings, {{userName()}}</span>
			  </a>
            </li>
			
            <li class="nav-item">
              <a class="nav-link greeting-hamburger" href="javascript:void(0)" *ngIf="hasSignedIn()" href="contact.html" [matMenuTriggerFor]="accountMenu">
				<mat-icon>menu</mat-icon>
			  </a>
            </li>
			
			<li class="nav-item">
				<mat-menu #accountMenu
				class="app-header-accountMenu"
				yposition="below"
				[overlapTrigger]="false">
				<app-account-menu ></app-account-menu>
				</mat-menu>
            </li>
			
          </ul>
        </div>
      </div>
    </nav>
	
<!-- Page Header -->
    <header class="masthead" style="background-image: url('assets/image/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>EZ Blogs</h1>
              <span class="subheading">A Public Blog by EZ</span>
            </div>
          </div>
        </div>
      </div>
    </header>
