<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" *ngIf="loggedIn()">
  <a class="navbar-brand" href="#">Syncpub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
  <ul class="navbar-nav">
    <li class="nav-item">
    <div class="btn-group text-light">
    <a class="nav-link text-light">Jobs</a>
    <a class="btn dropdown-toggle dropdown-toggle-split " data-toggle="dropdown">
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Scheduled</a>
      <a class="dropdown-item" href="#">In Process</a>
    </div>
	</div>
    </li>
    
    <li class="nav-item ">
      <a class="nav-link text-light" href="#">Placeholder</a>
    </li>
	
	<li class="nav-item">
      <a class="nav-link" href="#"></a>
    </li>
  </ul>
  
  <div class="input-group">
    
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <div class="input-group-btn search-panel bg-light">
      <select class="form-control" id="sel1" name="sellist1">
        <option>form-control</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>      

    <span class="input-group-btn">
      <button class="btn btn-primary" type="button"><span><i class="fa fa-search" aria-hidden="true"></i></span></button>
    </span>
  </div>
  
  <ul class="navbar-nav">
	<!--
    <li class="nav-item">
      <a class="nav-link" href="#" data-toggle="modal" data-target="#myModal">Login/Register</a>
    </li>-->
	
	<li class="dropdown nav-item">
    <div class="btn-group text-light">
    <a class="btn" data-toggle="dropdown" style="font-family: Lato,Helvetica,Arial,sans-serif;
												letter-spacing: 0;
												text-transform: none;">
	 <i class="fas fa-user"></i> {{userName()}}
    </a>
    <div class="dropdown-menu dropdown-menu-right">
		<a class="dropdown-item" href="#"  [routerLink]="['/admin']" *ngIf="adminGuard.canLoad()">ADMIN PAGE</a>
		<a class="dropdown-item" href="#"  [routerLink]="['/change-password']">CHANGE PASSWORD</a>
		<a class="dropdown-item" href="#" (click)="logout()">SIGN OUT</a>
    </div>
	</div>
    </li>
  </ul>
  </div>
</nav>