<header class="masthead"  [ngStyle]="{ 'background-image': 'url(' + imgUrl + ')'}">
  <div class="overlay"></div>
  <div class="container">
	<div class="row">
	  <div class="col-lg-8 col-md-10 mx-auto">
		<div class="site-heading" *ngIf="!createdBy">
		  <h1>{{title}}</h1>
		  <span class="subheading">{{subheading}}</span>
		</div>
		
		<div class="post-heading" *ngIf="createdBy">
			<h1>{{title}}</h1>
			<h2 class="subheading">{{subheading}}</h2>
			<span class="meta">Posted by <a href="#">{{createdBy}}</a> on {{createdTime}}</span>
		</div>
	</div>	
	</div>
  </div>
</header>