<div class="content" fxLayout="row" fxLayoutAlign="center">
    <mat-card elevation="5" fxFlex>
      <mat-card-content>
      <p [class]="notification.msgType" *ngIf="notification.msgBody!==undefined" [innerHTML]="notification.msgBody | keepHtml"></p>
        <form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()" #changePasswordForm="ngForm">
          <mat-form-field>
            <input matInput formControlName="oldPassword" required type="password" placeholder="Old password">
          </mat-form-field>
		  <mat-form-field>
            <input matInput formControlName="password" required type="password" placeholder="New password" (input)="onInputChange($event)">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="matchingPassword" required type="password" placeholder="Please re-type your password" (input)="onInputChange($event)">
          </mat-form-field>
          <button type="submit" [disabled]="!changePasswordForm.form.valid || changePasswordForm.value.password !== changePasswordForm.value.matchingPassword" mat-raised-button color="primary">Change Password</button>
        </form>
        <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
      </mat-card-content>
    </mat-card>
</div>
